<component name="libraryTable">
  <library name="MyBatisLib">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/MyBatis_day1_first/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/MyBatis_day1_first/lib" recursive="false" />
  </library>
</component>