<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring3_day3_transaction:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring3_day3_transaction_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring3_day3_transaction/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring3_day3_transaction" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.9.RELEASE" />
          <element id="file-copy" path="$PROJECT_DIR$/Spring3_day3_transaction/web/WEB-INF/lib/c3p0-0.9.5.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/Spring3_day3_transaction/web/WEB-INF/lib/mchange-commons-java-0.2.11.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/Spring3_day3_transaction/web/WEB-INF/lib/mysql-connector-java-5.1.37-bin.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/Spring3_day3_transaction/web/WEB-INF/lib/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar" />
          <element id="library" level="project" name="junit:junit:4.12" />
        </element>
      </element>
    </root>
  </artifact>
</component>