<component name="ArtifactManager">
  <artifact type="exploded-war" name="Springmvc_day2_annotation-driven:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Springmvc_day2_annotation_driven_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Springmvc_day2_annotation-driven/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Springmvc_day2_annotation-driven" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.9.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.10.RELEASE" />
          <element id="file-copy" path="$PROJECT_DIR$/Springmvc_day2_annotation-driven/web/WEB-INF/lib/log4j-1.2.16.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/Springmvc_day2_annotation-driven/web/WEB-INF/lib/jackson-core-2.5.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/Springmvc_day2_annotation-driven/web/WEB-INF/lib/slf4j-log4j12-1.7.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/Springmvc_day2_annotation-driven/web/WEB-INF/lib/jackson-databind-2.5.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/Springmvc_day2_annotation-driven/web/WEB-INF/lib/jackson-annotations-2.5.4.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>