<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring3_day2_SpringAOP:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring3_day2_SpringAOP_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring3_day2_SpringAOP/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring3_day2_SpringAOP" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.9.RELEASE" />
          <element id="library" level="project" name="junit-4.10" />
          <element id="file-copy" path="$PROJECT_DIR$/Spring3_day2_SpringAOP/web/WEB-INF/lib/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>