<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring3_day1_Annotation:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring3_day1_Annotation_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring3_day1_Annotation/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring3_day1_Annotation" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.9.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>